<!DOCTYPE html>
<html>
  <head>
    <title>README ASCII</title>

    <script src="index.js"></script>
    <link rel="icon" type="image/png" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="index.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-colorpicker@3.4.0/dist/js/bootstrap-colorpicker.min.js"></script>
  </head>

  <body>
    <a href="https://github.com/ajmeese7/readme-ascii">
      <img
        src="https://user-images.githubusercontent.com/17814535/88975752-6166df00-d280-11ea-88e8-801e0c7c19d5.png"
        id="banner" alt="README ASCII"
      />
    </a>

    <div id="userInput">
      <p>Enter your text for ASCII-ification:</p>
      <div id="ascii-group" class="input-group">
        <input id="ascii-text" class="form-control" type="text" required="required" placeholder="README ASCII" />
        <div class="input-group-append">
          <button id="dropdown" class="btn btn-outline-secondary" type="button">▼</button>
        </div>
      </div>

      <!-- Color picker -->
      <div id="advanced">
        <div id="text-color" class="input-group" title="Using input value">
          <label for="txt-color">Text Color</label>
          <input id="txt-color" type="text" class="form-control input-lg" value="#DD0F20" />
          <span class="input-group-append">
            <span class="input-group-text colorpicker-input-addon"><i></i></span>
          </span>
        </div>
        <div id="background-color" class="input-group" title="Using input value">
          <label for="bg-color">Background Color</label>
          <input id="bg-color" type="text" class="form-control input-lg" value="#DD0F20" />
          <span class="input-group-append">
            <span class="input-group-text colorpicker-input-addon"><i></i></span>
          </span>
        </div>
        <input type="checkbox" name="shadow" id="shadow" aria-label="Checkbox for shadow">
        <label for="shadow">Enable Shadow</label>
      </div>

      <div id="buttons">
        <button type="button" id="generateButton" class="btn btn-outline-dark" onclick="generateImage()">Generate
          Image
        </button>
        <a href="#" id="download" download>
          <button id="downloadButton" type="button" class="btn btn-outline-success">
            Download
          </button>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <img id="result" onError="this.onerror=null;this.src='error.png';" />
  </body>
</html>
